/* 全局样式 */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* 响应式设计 */

@media (max-width: 768px) {
    /* 在小屏幕上应用以下样式 */
    .container {
        padding: 10px;
    }
    /* 调整页面元素大小和间距以适应小屏幕 */
    h1 {
        font-size: 24px;
    }
    /* 调整按钮大小 */
    button {
        font-size: 14px;
        padding: 10px 15px;
    }
    /* 调整输入框大小 */
    input[type="text"],
    input[type="number"] {
        width: 80%;
        padding: 10px;
        margin-bottom: 10px;
    }
    /* 调整玩家列表样式 */
    #player-list {
        font-size: 14px;
    }
    /* 调整玩家信息样式 */
    #player-info p {
        font-size: 14px;
        margin: 5px 0;
    }
    /* 调整玩家决策按钮样式 */
    #buttonContainer {
        position: fixed;
        bottom: 0;
        /* 距离底部0px */
        left: 0;
        width: 100%;
        /* 宽度100%，占满屏幕宽度 */
        display: flex;
        justify-content: space-between;
        /* 按钮在条的两侧 */
        align-items: center;
        /* 垂直居中对齐 */
        padding: 10px;
        /* 适当的内边距 */
        flex-direction: column;
        /* 垂直布局，按钮和输入框在不同行 */
    }
    /* 底部按钮样式 */
    #buttonsLine {
        display: flex;
        gap: 10px;
    }
    /* 第二行输入框和按钮样式 */
    #inputLine {
        display: flex;
        gap: 10px;
    }
    #raise-amount {
        width: 50%;
    }
    #raise {
        width: 25%;
    }
}


/* 根据需要添加更多的媒体查询以适应不同的屏幕尺寸 */